<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Кинотеатры</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=2"/>
    <script src="/public/js/jquery.js" th:src="@{/js/jquery.js}"></script>
    <script src="/public/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
    <script src="/public/js/validator.js" th:src="@{/js/validator.js}"></script>
    <link rel="stylesheet" href="/public/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
    <style>
        .navbar {
            margin-bottom: 10px;
            border-radius: 0;
        }

        .jumbotron {
            margin-bottom: 0;
        }
    </style>

</head>

<body>

<header th:replace="admin/layout :: admin-header"></header>

<div th:replace="admin/layout :: admin-nav"></div>

<div class="container text-center">

    <div class="table-responsive" align="center">
        <table class="table">
            <thead>
            <tr>
                <th>Название</th>
                <th>Адрес</th>
                <th>Телефон</th>
                <th>Еmail</th>
                <th></th>
                <th></th>
                <th></th>

            </tr>
            </thead>
            <th:block th:each="cinema : ${cinemas}">

                <tbody>
                <td th:text="${cinema.cinemaTittle}"></td>
                <td th:text="${cinema.cinemaAdress}"></td>
                <td th:text="${cinema.telephoneNumber}"></td>
                <td th:text="${cinema.eMail}"></td>
                <td>
                    <a th:href="@{/admin/edit/cinema(cinemaId= ${cinema.cinemaId})}">
                        <button type="button" class="btn btn-default">Редактировать</button>
                    </a>
                </td>
                <td>
                    <a th:href="@{/admin/delete/cinema (cinemaId = ${cinema.cinemaId})}">
                        <button type="button" class="btn btn-default">Удалить</button>
                    </a>
                </td>
                <td>
                    <a th:href="@{/admin/hall(cinemaId = ${cinema.cinemaId})}">
                        <button type="button" class="btn btn-default">Залы</button>
                    </a>
                </td>
                <td>
                    <a th:href="@{/admin/session(cinemaId = ${cinema.cinemaId})}">
                        <button type="button" class="btn btn-default">Сеансы</button>
                    </a>
                </td>
                </tbody>
            </th:block>
        </table>
    </div>
    <br/>

    <a href="/admin/add/cinema.html" th:href="@{/admin/add/cinema}">
        <button type="button" class="btn btn-default">Новый кинотеатр</button>
    </a>
</div>

</body>
</html>