<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Фильмы</title>
    <meta name="viewport" content="width=device-width, initial-scale=2"/>
    <script src="/public/js/jquery.js" th:src="@{/js/jquery.js}"></script>
    <script src="/public/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
    <script src="/public/js/validator.js" th:src="@{/js/validator.js}"></script>
    <link rel="stylesheet" href="/public/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
    <style>
        .navbar {
            margin-bottom: 10px;
            border-radius: 0;
        }

        .jumbotron {
            margin-bottom: 0;
        }
    </style>
</head>
<body>

<header th:replace="admin/layout :: admin-header"></header>

<div th:replace="admin/layout :: admin-nav"></div>

<div class="container text-center">

    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Название</th>
                <th>Длительность</th>
                <th>Год выпуска</th>
                <th>Страна производства</th>
                <th>Начинается с</th>
                <th></th>
                <th></th>
                <th></th>

            </tr>
            </thead>
            <th:block th:each="film : ${films}">

                <tbody>
                <td th:text="${film.title}"></td>
                <td th:text="${film.duration}"></td>
                <td th:text="${film.year}"></td>
                <td th:text="${film.country}"></td>
                <td th:text="${film.startFrom}"></td>
                <td>
                    <a th:href="@{/admin/edit/film(filmId = ${film.filmId})}">
                        <button type="button" class="btn btn-default">Редактировать</button>
                    </a>
                </td>
                <td>
                    <a th:href="@{/admin/delete/film (filmId = ${film.filmId})}">
                        <button type="button" class="btn btn-default">Удалить</button>
                    </a>
                </td>
                <td>
                    <a th:href="@{/admin/add/actor_to_film (filmId = ${film.filmId})}">
                        <button type="button" class="btn btn-default">Добавить актеров</button>
                    </a>
                </td>
                <td>
                    <a th:href="@{/admin/add/genre_to_film (filmId = ${film.filmId})}">
                        <button type="button" class="btn btn-default">Добавить жанры</button>
                    </a>
                </td>
                </tbody>
            </th:block>
        </table>
    </div>
    <br/>
    <a href="/admin/add/cinema.html" th:href="@{/admin/add/film}">
        <button type="button" class="btn btn-default">Новый фильм</button>
    </a>
</div>
</body>
</html>