<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru" th:lang="ru">
<head>
    <title>Добавить сеанс</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=2"/>
    <script src="/public/js/jquery.js" th:src="@{/js/jquery.js}"></script>
    <script src="/public/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
    <script src="/public/js/validator.js" th:src="@{/js/validator.js}"></script>
    <link rel="stylesheet" href="/public/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
    <style>
        .navbar {
            margin-bottom: 10px;
            border-radius: 0;
        }

        .jumbotron {
            margin-bottom: 0;
        }
    </style>
    <script>
        function deleteT() {
            document.getElementById('hiddenDate').value = document.getElementById('sel4').value.replace("T", " ").concat(":00");

        }
    </script>
</head>
<body>

<header th:replace="admin/layout :: admin-header"></header>

<div th:replace="admin/layout :: admin-nav"></div>

<div class="container text-center">
    <div th:replace="admin/form_layout :: session"></div>

</div>
</body>
</html>