<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=2"/>
    <script src="/public/js/jquery.js" th:src="@{/js/jquery.js}"></script>
    <script src="/public/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
    <script src="/public/js/validator.js" th:src="@{/js/validator.js}"></script>
    <link rel="stylesheet" href="/public/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
    <link rel="icon" href="/public/favicon.ico" th:href="@{/favicon.ico}"/>
    <style>
        .navbar {
            margin-bottom: 10px;
            border-radius: 0;
        }

        .jumbotron {
            margin-bottom: 0;
        }
    </style>
</head>
<body>

<div th:fragment="header" class="jumbotron">
    <div class="container text-center">
        <h3>Онлайн покупка билетов в кинотеатр</h3>
    </div>
</div>

<nav th:fragment="nav" class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" th:href="@{/}">Главная</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="cinema.html" th:href="@{/cinema}">Кинотеатры </a></li>
                <li><a href="film.html" th:href="@{/film}"> Фильмы </a></li>
                <li><a href="discount.html" th:href="@{/discount}">Скидки </a></li>
                <li><a href="actor.html" th:href="@{/actor}">Актеры</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/user}"><span
                        class="glyphicon glyphicon-user"></span> Ваш аккаунт</a></li>
                <li sec:authorize="isAuthenticated()">
                    <form id="logoutForm" method="post" th:action="@{/logout}">
                        <input type="hidden" th:value="${_csrf.getToken()}" th:name="${_csrf.parameterName }"/>
                    </form>
                    <a onclick="document.forms['logoutForm'].submit()" style="cursor: pointer"><span
                            class="glyphicon glyphicon-log-out"
                    ></span> Выход</a>
                </li>
                <li sec:authorize="isAnonymous()"><a th:href="@{/login}"><span class="glyphicon glyphicon-user"></span>
                    Войти</a></li>
                <li sec:authorize="isAnonymous()"><a th:href="@{/registration}"><span
                        class="glyphicon glyphicon-user"></span> Регистрация</a></li>
                <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/admin/}"><span
                        class="glyphicon glyphicon-user"></span> Admin panel</a></li>
            </ul>
        </div>
    </div>
</nav>

</body>
</html>
