<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Личный кабинет</title>
    <meta name="viewport" content="width=device-width, initial-scale=2"/>
    <script src="/public/js/jquery.js" th:src="@{/js/jquery.js}"></script>
    <script src="/public/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
    <script src="/public/js/validator.js" th:src="@{/js/validator.js}"></script>
    <link rel="stylesheet" href="/public/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
    <link rel="icon" href="/public/favicon.ico" th:href="@{/favicon.ico}"/>
    <style>
        .navbar {
            margin-bottom: 10px;
            border-radius: 0;
        }

        .jumbotron {
            margin-bottom: 0;
        }
    </style>
</head>
<body>

<header th:replace="layout :: header"></header>

<div th:replace="layout :: nav"></div>

<div class="container">
    <div class="bottom-left">
        <div class="col-sm-4">
            <h4><strong>Логин:</strong></h4>
            <h4 th:text="${user.username}"></h4>
            <br/>
            <h4><strong>Имя: </strong></h4>
            <h4 th:text="${user.firstName}"></h4>
            <br/>
            <h4><strong>Фамилия: </strong></h4>
            <h4 th:text="${user.lastName}"></h4>
            <br/>
            <h4><strong>Телефон:</strong></h4>
            <h4 th:text="${user.telephone}"></h4>
            <br/>
            <h4><strong>Электронная почта:</strong></h4>
            <h4 th:text="${user.email}"></h4>
            <br/>
            <form class="form-vertical" data-toggle="validator" role="form" action="#" th:action="@{/user/discount}"
                  th:object="${user}"
                  method="post">

                <div class="form-group">
                    <input class="form-control" type="hidden"
                           th:field="*{userId}"/>
                </div>

                <div class="form-group">
                    <input class="form-control" type="hidden"
                           th:field="*{username}"/>
                </div>

                <div class="form-group">
                    <input class="form-control" type="hidden"
                           th:field="*{firstName}"/>
                </div>

                <div class="form-group">
                    <input class="form-control" type="hidden"
                           th:field="*{lastName}"/>
                </div>

                <div class="form-group">
                    <input class="form-control" type="hidden"
                           th:field="*{telephone}"/>
                </div>

                <div class="form-group">
                    <input class="form-control" type="hidden"
                           th:field="*{password}"/>
                </div>

                <div class="form-group">
                    <input class="form-control" type="hidden"
                           th:field="*{email}"/>
                </div>

                <div class="form-group">
                    <input class="form-control" type="hidden"
                           th:field="*{roles}"/>
                </div>

                <div class="form-group">
                    <input class="form-control" type="hidden"
                           th:field="*{tickets}"/>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="sel1">Скидка</label>
                    <select class="form-control" id="sel1" th:field="*{discountId}">
                        <option th:each="discount : ${allDiscounts}"
                                th:value="${discount.discountId}"
                                th:text="${discount.tittle}">
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Использовать скидку</button>
                </div>
            </form>
        </div>
        <div class="col-sm-8">
            <h4>Билеты: </h4>
            <table class="table">
                <thead>
                <tr>
                    <th>Кинотеатр</th>
                    <th>Кинозал</th>
                    <th>Фильм</th>
                    <th>Дата</th>
                    <th>Ряд</th>
                    <th>Место</th>
                    <th>Цена</th>
                </tr>
                </thead>
                <tr th:each="ticket : ${user.tickets}">
                    <tbody>
                    <td th:text="${ticket.filmSession.hall.cinema.cinemaTittle}"></td>
                    <td th:text="${ticket.filmSession.hall.hallTittle}"></td>
                    <td th:text="${ticket.filmSession.film.filmTittle}"></td>
                    <td th:text="${ticket.filmSession.date}"></td>
                    <td th:text="${ticket.rowNumber}"></td>
                    <td th:text="${ticket.seat}"></td>
                    <td th:text="${ticket.price}"></td>
                    </tbody>
                </tr>


            </table>
        </div>
    </div>
</div>
</body>
</html>